.precio-oferta {
    color: #28A745;
    font-size: 20px;
    font-weight: bold;
}

.formulario-contacto {
    background: #28A745;
}

.formulario-contacto h5 {
    color: white;
    padding-bottom: 10px;
}

.logo-final {
    text-align: center;
    padding: 10px;
}

.cierre {
    color: #707070;
}

h5 {
    color: #212529;
}

p {
    color: #707070;
    margin-bottom: 0px;
    font-size: 16px;
}

.ubicacion {
    font-size: 13px;
}